
<style>
      
      #header{
        
         height: 50px;
         width: 100%;
         background-color: gray;

      }
       
</style>
<header id="header">
      <a href="/api/users/sign-up">New User</a>
      <br>
      <a href="/api/users/login">Login</a>
      <br>
</header>