<link rel="stylesheet" href="css/home.css">
<div id="home-container">
           <div id="quiz-form">
                <h1>Create New Quiz</h1>
                <form action="/api/quiz/create-quiz" method="POST">
                    
                    <label for="title">Quiz Title :</label>
                    <input type="text" id="title" name="title" required>
                    
                    <div id="originalContent">
                    <div class="question">
                        <label for="questionText0">Question Text:</label>
                        <input type="text" id="questionText0" name="questions[0][text]" required>
                        <br>
                        <label for="options0">Options(comma-separated):</label>
                        <input type="text" id="options0" name="questions[0][options]" required>
                        <br>
                        <label for="rightAnswer0">Right Answer Index:</label>
                            <input type="text" id="rightAnswer0" name="questions[0][rightAnswer]" required>
                        </div>
                        </div>
                        <div id="questions" style="display: none;"></div>
                        
                        <button type="button" onclick="addQuestion(); toggleContent();">Add Question</button>
                        <button type="submit">Create Quiz</button>
                                    
                    </form>
                    <button id="loginButton" onclick="redirectToLoginPage()" style="display: none;">Login</button>
           </div>
         

            <div id="quizList">
                <h1>Quiz list</h1>
            </div>
</div>

<script src="/javascript/quizCreations.js"></script>
<script>
    // Fetch request to check if the user is logged in
    fetch('/api/users/check-login')
        .then(response => response.json())
        .then(data => {
            if (data.loggedIn) {
                // If logged in, show the "Create New Quiz" form
                document.getElementById('createQuizForm').style.display = 'block';
            } else {
                // If not logged in, show the "Login" button
                document.getElementById('loginButton').style.display = 'block';
            }
        })
        .catch(err => console.error('Error checking login status', err));

    function redirectToLoginPage() {
        // Redirect to the login page
        window.location.href = '/login';
    }
</script>
 