
<html>
    <head>
        <link rel="stylesheet" href="">
        <%-style%>
     </head>

     <body style="margin: 0px;">
         <%- include('_header');%>
         <main id="layout-main">
              <%- body %>
         </main>
         <%- script %>
     </body>
</html>