<html>
    <head>

    </head>
    <body>

         <h1>User Registration</h1>

         <form action="" method="POST">
          
            <label for = "firstName">First Name:</label>
            <input type="text" name="firstName" id="firstName" required>
            <br>
            <label for="lastName">LastName:</label>
            <input type="text" name="lastName" id="lastName" required>
            <br>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required>
            <br>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
            <br>
            <label for="confrom_password">Conform Password:</label>
            <input type="text"  id="confrom_password" required>
            <br>
            <button type="submit">Register</button>


         </form>
         

    </body>
</html>