

<htm>
    <head>
    </head>

    <body>

          <h1>User Login</h1>

          <form action="" method="POST">
                <label for="email">Email:</label>
                <input type="email"email id="" name="email" placeholder="abc@gmail.com" required>
                </br>
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" required>
                <br>
                <button type="submit">Login</button>
          </form>

    </body>
</htm>